{% extends "registration/auth_base.html" %}
{% block auth_title %}Reset your password{% endblock %}
{% block auth_heading %}Reset your password{% endblock %}

{% block auth_body %}
  <p class="text-sm">Enter your email address and we'll send you a link to choose a new password.</p>
  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary mt-4 w-full">Send reset link</button>
  </form>
{% endblock %}

{% block auth_links %}
  <a href="{% url 'login' %}" class="link link-primary">Back to log in</a>
{% endblock %}
